# Free public Sentinel-2 L2A catalog and anonymously signed Azure assets.
QIQIHAR_IMAGERY_STAC_URL=https://planetarycomputer.microsoft.com/api/stac/v1/search
QIQIHAR_IMAGERY_COLLECTION=sentinel-2-l2a
QIQIHAR_IMAGERY_ALLOWED_HOSTS=planetarycomputer.microsoft.com,sentinel2l2a01.blob.core.windows.net,earth-search.aws.element84.com,e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com,e84-earth-search-sentinel-data.s3.amazonaws.com
QIQIHAR_IMAGERY_MAX_CLOUD_PERCENT=30
QIQIHAR_IMAGERY_MIN_ZOOM=5
QIQIHAR_IMAGERY_MAX_ZOOM=14
QIQIHAR_IMAGERY_REQUEST_TIMEOUT_SECONDS=60
QIQIHAR_IMAGERY_COMMAND_TIMEOUT_SECONDS=18000
QIQIHAR_IMAGERY_SCENE_WORKERS=4
QIQIHAR_IMAGERY_MINIMUM_FREE_BYTES=6442450944
QIQIHAR_IMAGERY_RETENTION_COUNT=2
QIQIHAR_IMAGERY_BACKEND_READER_UID=10001
